@import "general.css";

.container {
    margin: auto;
    width: 70%;
    min-height: calc(100vh - 10vh - 5vh - 1.5rem); /* 100% - Height of Nav - Height of Footer - Footer Padding */
}

.header
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 4rem 0 2rem;
}

.header p {
    margin: 2rem 0;
    font-size: 17px;
    line-height: 1.6rem;
}

.header p strong {
    font-size: 21px;
}

.header p a {
    text-decoration: underline;
    color: white;
}

.header p a:hover {
    text-decoration: underline;
    color: var(--primary-color)
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.card {
    background: rgba(255, 255, 255, 0.04);
    height: fit-content;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
}

.card img {
    width: 70vw;
}

.card h2 {
    font-size: 25px;
}

.card .card-desc {
    margin: 1rem 0;
}


/* Tablets */
@media (min-width: 768px) {
    .content {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .card img {
        width: 30vw;
    }
}

/* Desktops */
@media (min-width: 992px) {
    .content {
        justify-content: flex-start;
    }

    .card img {
        width: 15vw;
    }
}