@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

:root {
    --dark-grey: #121212;
    --primary-color: #18b30f;
    --primary-color-focused: rgba(24, 179, 15, 0.12);
    --primary-color-hovered: rgba(24, 179, 15, 0.04);
    --secondary-color: #ab0fb3;
    --analogous-light: #69b30f;
    --analougus-dark: #0fb359;
    --triadic-light: #0fb3ab;
    --triadic--dark: #0f18b3;

    --roboto: 'Roboto', sans-serif;
    --bebas-neue: 'Bebas neue', cursive;
}

body {
    margin: 0;
    background: var(--dark-grey);
    font-family: var(--roboto);
    color: white;
}

p {
    margin: 0;
}

 h1, h2, h3, h4, h5, h6 {
     font-family: var(--bebas-neue);
     letter-spacing: 1px;
     font-weight: 300;
     margin: 0;
}

 h1 {
     font-size: 3rem;
 }

 h2 {
     font-size: 2.5rem;
 }

 h3 {
     font-size: 2rem;
 }

 h4 {
     font-size: 1.5rem;
 }

 h5, h6 {
     font-size: 1rem;
 }

.footer-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.04);
    padding: 1rem;
}

.footer-content > h6 {
    text-transform: uppercase;
    font-family: var(--roboto);
    font-size: 0.8rem;
}

.footer-content a{
    color: white;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
}

.footer-content a:link:hover {
    color: var(--primary-color)
}

 /* Tablet */
@media (min-width: 768px) {
    h1 {
        font-size: 3.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.5rem;
    }
}

/* Desktop */
@media (min-width: 992px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 3rem;
    }

    h4 {
        font-size: 2.5rem;
    }

    h5 {
        font-size: 2rem;
    }

    h6 {
        font-size: 1.5rem;
    }
}