@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');


:root {
    --dark-grey: #121212;
    --primary-color: #18b30f;
    --secondary-color: #ab0fb3;
    --analogous-light: #69b30f;
    --analougus-dark: #0fb359;
    --triadic-light: #0fb3ab;
    --triadic--dark: #0f18b3;

    --roboto: 'Roboto', sans-serif;
    --bebas-neue: 'Bebas neue', cursive;
}

body {
    margin: 0;
    background: var(--dark-grey);
    font-family: var(--roboto);
    color: white;
}

p {
    margin: 0;
}

 h1, h2, h3, h4, h5, h6 {
     font-family: var(--bebas-neue);
     letter-spacing: 1px;
     font-weight: 300;
     margin: 0;
}