@import "general.css";

.container {
    width: 70%;
    margin: auto;
}

.container > h1 {
    text-align: center;
}

.container .skills {
    display: flex;
    justify-content: center;
}

.card {
    margin: 20% auto;
    background: rgba(255, 255, 255, 0.05);
    width: 10vw;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}