@import "general.css";

nav {
    margin-top: 1vh;
    height: 10vh;
}

.content {
    min-height: calc(100vh - 10vh - 5vh - 1.5rem); /* 100% - Height of Nav - Height of Footer - Footer Padding */
}

footer {
    height: 5vh;
}

.container {
    width: 95%;
    margin: auto;
}

.container > h1, .container > h2 {
    text-align: center;
}

.container > h2 {
    margin: -0.5rem;
}

.drop-down {
    position: relative;
}

.drop-down .drop-down-selection {
    background: rgba(255, 255, 255, 0.04);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
}

.drop-down .drop-down-content {
    position: absolute;
    display: block;
    width: 100%;
    background: #282828;
}

.drop-down label {
    width: 100%;
}

.container .skills {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    gap: .3rem;
}

.skill {
    padding: .2rem 0;
    flex: 1;
}

.skill label {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}

.skill label > input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}

.skill label > .checkbox {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
}

.skill input:checked ~ .checkbox {
    border: 1px solid var(--primary-color);
    background: var(--primary-color-focused);
}

/* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.skill .checkbox:after {
   content: "";
   position: absolute;
   display: none;
}

/* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.skill input:checked ~ .checkbox:after {
   display: block;
}

/* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.skill label > .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*label {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    cursor: pointer;
}

label:hover > a, label input:checked ~ a {
    font-weight: 700;
    color: var(--primary-color);
}

label:hover .checkbox {
    background: var(--primary-color-hovered);
    transition: .2s;
}

.container label > input[type=checkbox] {
    visibility: hidden;
    height: 0;
    width: 0;
}

label > .checkbox {
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    z-index: -1;
}

label input:checked ~ .checkbox {
    border: 1px solid var(--primary-color);
    background: var(--primary-color-focused);
}

!* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp *!
.checkbox:after {
    content: "";
    position: absolute;
    display: none;
}

!* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp *!
label input:checked ~ .checkbox:after {
    display: block;
}

!* Source: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp *!
label > .checkbox:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid var(--primary-color);
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}*/

#profiles {
    margin-top: 5rem;
    margin-bottom: 2rem;
}

#profiles > .container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.3rem;
}

.card {
    background: rgba(255, 255, 255, 0.04);
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start;
    transition: 0.2s;
    cursor: pointer;
}

.card:hover {
    background: rgba(255, 255, 255, 0.08);
}

.card img {
    align-self: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.card-desc {
    margin: 1.5rem 0;
    height: fit-content;
}

.skill-list {
    padding-top: .3rem;
    display: flex;
    column-gap: 0.7rem;
    flex-wrap: wrap;
}

.card-desc .skill-list > a {
    font-weight: 600;
    color: var(--primary-color);
}

/* Tablets */
@media (min-width: 768px) {
    .container {
        width: 85%;
    }

    .card {
        width: 40%;
    }

    .card-desc {
        height: 4.5em;
    }
}

/* Desktops */
@media (min-width: 992px) {
    .container {
        width: 70%;
    }

    #profiles {
        margin-bottom: 4rem;
    }

    #profiles > .container {
        gap: 2rem;
    }

    .card {
        width: 21rem;
    }
}