@import "general.css";

* {
    box-sizing: border-box; /* So Padding and Border are included in the  height and width values */
}


.outer-border{
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    background: var(--dark-grey);
    border: solid 3px var(--secondary-color);
    float:left;
    width:100%;
}

.c2{
    float:left;
    width: 50%;
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);

}
.c2 > h4{
    font-size: 2rem;
}
.c2 > h6{
    font-size: 1.5rem;
}
.c2 > ul{
    font-size: 1rem;
    margin: 0.5rem;
}

.c3{
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    float:left;
    width:100%;
    background: rgba(255, 255, 255, 0.1);
    margin-top: 10px;
    border: solid 3px var(--primary-color);
}

.profile {
    max-width: 20%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px var(--primary-color);
  }
h2{
    text-align: center;
}
h4, h6{
    color:var(--primary-color);
}
/* Use a media query to add a break point at 800px: */
@media screen and (max-width: 1000px) {
    .c2,
    .c3 {
        width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
    }
}
