@import "general.css";

*{
    box-sizing: border-box; /* So Padding and Border are included in the  height and width values */
}

.outer-border{
    padding: 20px;
    width:100%;
    height: auto;
}

.info{
    position: relative;
    float:left;
    width: 100%;
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
    margin: 2px;
}
.info > p{
    font-size: 3vw;
}
.info > ul{
    font-size: 3vw;
    margin: 0.5rem;
}

.bottominfo{
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    float:left;
    width:100%;
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
    font-size: 2rem;
}

.profile{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px var(--primary-color);
  }

.top{
    text-align: center;
    font-size: 7vw;
}
h4{
    color:var(--primary-color);
    font-size: 4vw;
}

h5{
    color:var(--primary-color);
    font-size: 3vw;
}

.links{
    width: 10%;
    height: 10%;
}

#Email:hover{
    background: rgb(255, 255, 255, 0.2);
}

.piechart{
    width: 35vw;
    height: 35vw;
    min-width: 150px;
    min-height: 150px;
    max-height: 200px;
    max-width: 200px;

    /*width: 150px;
    height: 150px;*/
    display: flex;
    border-radius: 100%;
}
.piechart.pie-1 {
    background-image: conic-gradient(
            pink 180deg,
            pink 0 );
}
.piechart.pie-2 {
    background-image: conic-gradient(
            pink 180deg,
            lightblue 0 );
}
.piechart.pie-3 {
    background-image: conic-gradient(
            pink 120deg,
            lightblue 0 240deg,
            orange 0);
}
.piechart.pie-4 {
    background-image: conic-gradient(
            pink 90deg,
            lightblue 0 180deg,
            orange 0 270deg,
            lightgreen 0);
}
.piechart.pie-5 {
    background-image: conic-gradient(
            pink 72deg,
            lightblue 0 144deg,
            orange 0 216deg,
            lightgreen 0 288deg,
            lightcoral 0);
}
/*------------------------------------------------------*/
/*
.pie-1.segment1{
    position: absolute;
    top: 85px;
    left: 77px;
    text-shadow: 1px 1px 1px black;
    font-size: 1rem;
}
.pie-2.segment1{
    position: absolute;
    top: 87px;
    left: 40px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9rem;
}
.pie-2.segment2{
    position: absolute;
    top: 87px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9rem;
}
.pie-3.segment1{
    position: absolute;
    top: 8vw;
    left: 16vw;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9rem;
}
.pie-3.segment2{
    position: absolute;
    top: 115px;
    left: 70px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9rem;
}
.pie-3.segment3{
    position: absolute;
    top: 71px;
    left: 30px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.9rem;
}

.pie-4.segment1{
    position: absolute;
    top: 75px;
    left: 45px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.8rem;
}

.pie-4.segment2{
    position: absolute;
    top: 75px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.8rem;
}

.pie-4.segment3{
    position: absolute;
    top: 100px;
    left: 40px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.8rem;
}

.pie-4.segment4{
    position: absolute;
    top: 100px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.8rem;
}

.pie-5.segment1{
    position: absolute;
    top: 60px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}
.pie-5.segment2{
    position: absolute;
    top: 95px;
    left: 110px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}
.pie-5.segment3{
    position: absolute;
    top: 130px;
    left: 70px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}
.pie-5.segment4{
    position: absolute;
    top: 95px;
    left: 35px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}
.pie-5.segment5{
    position: absolute;
    top: 60px;
    left: 45px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}

.legende{
    float: right;
    vertical-align: middle;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 35%;
    height: 95%;
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
    overflow-wrap: break-word;
}
*/
footer {
    height: 5vh;
    width: 100%;
    float: right;
}

.legenda{
    margin-left: 20px;
    vertical-align: middle;
    background: rgba(255, 255, 255, 0.1);
    padding: 5px;
    float: right;
    height: 95%;
    width: 35%;
    bottom: 5px;
    right: 10px;
    position: absolute;
    border-radius: 15px;
    font-family: var(--roboto);
    border: solid 3px var(--primary-color);
    overflow-wrap: anywhere;
}

.entry1{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.entry2{
    display: flex;
    flex-flow: column;
    height: 50%;
}
.entry3{
    display: flex;
    flex-flow: column;
    height: 33.33%;
}
.entry4{
    display: flex;
    flex-flow: column;
    height: 25%;
}
.entry5{
    display: flex;
    flex-flow: column;
    height: 20%;
}
.entry-color-text {
    min-height: 2vw;
    min-width: 2vw;
    font-size: 3vw;
    flex: 1 1 auto;
    text-align: center;
    display: table;
}
span{
    display: table-cell;
    vertical-align: middle;
}
/*.entry-text {
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}*/

#color1 {
    background-color: pink;
}
#color2 {
    background-color: lightblue;
}
#color3 {
    background-color: orange;
}
#color4 {
    background-color: lightgreen;
}
#color5 {
    background-color: lightcoral;
}


/* Tablets */
@media (min-width: 769px) {
    .c1 {
        width: 50%;
    }
    .info{
        width: 50%; /* The width is 100%, when the viewport is 1000px or smaller */
    }
    .bottominfo{
        width: 100%;
    }
    .test{
        display: flex;
    }
    .info > h4, .bottominfo > h4{
        color:var(--primary-color);
        font-size: 3vw;
    }

    .info > h5{
        color:var(--primary-color);
        font-size: 2vw;
    }
    .info > p{
        font-size: 1.75vw;
    }
    .info > ul{
        font-size: 2vw;
        margin: 0.5rem;
    }
    .piechart{
        width: 25vw;
        height: 25vw;
        min-width: 200px;
        min-height: 200px;
        max-height: 250px;
        max-width: 250px;
        /*width: 30vh;
        height: 30vh;*/
    }
    .profile{
        height: 10%;
        width: 10%;
    }
    .entry-color-text {
        font-size: 1.75vw;
    }
}
@media (min-width: 992px) {
    .outer-border {
        width: 70%;
        margin: auto;
        padding: 10px;
    }

    .test {
        display: flex;
    }

    .info > h4, .bottominfo > h4 {
        color: var(--primary-color);
        font-size: 3vw;
    }

    .info > h5 {
        color: var(--primary-color);
        font-size: 2.5vw;
    }

    .info > p {
        font-size: 1.5vw;
    }

    .info > ul {
        font-size: 1.5vw;
        margin: 0.5rem;
    }

    .links {
        width: 5%;
    }

    .piechart {
        width: 18vw;
        height: 18vw;
        min-width: 150px;
        min-height: 150px;
        max-height: 450px;
        max-width: 450px;
        /*width: 30vh;
        height: 30vh;*/
    }
    .entry-color-text {
        font-size: 1.3vw;
    }
}
