@import "general.css";

*{
    box-sizing: border-box; /* So Padding and Border are included in the  height and width values */
}

.test{

}

.outer-border{
    padding: 20px;
    width:100%;
    height: auto;
}

.c2{
    position: relative;
    float:left;
    width: 100%;
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
    margin: 2px;
    margin-bottom: 20px;
}
.c2 > p{
    font-size: 3vw;
}
.c2 > ul{
    font-size: 3vw;
    margin: 0.5rem;
}

.c3{
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px; 
    float:left;
    width:100%;
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
    font-size: 2rem;
}

.profile {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px var(--primary-color);
  }

.top{
    text-align: center;
    font-size: 7vw;
}
h4{
    color:var(--primary-color);
    font-size: 4vw;
}

h5{
    color:var(--primary-color);
    font-size: 3vw;
}

.links{
    height: auto;
    width: 10%;
}


.piechart{
    width: 150px;
    display: flex;
    height: 150px;
    border-radius: 50%;

}

.piechart.pie-5 {
    background-image: conic-gradient(
            pink 72deg,
            lightblue 0 144deg,
            orange 0 216deg,
            lightgreen 0 288deg,
            blue 0);
}

.segment1{
    position: absolute;
    bottom: 100px;
    left: 35px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}

.segment2{
    position: absolute;
    bottom: 100px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}

.segment3{
    position: absolute;
    bottom: 75px;
    left: 40px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}

.segment4{
    position: absolute;
    bottom: 75px;
    left: 100px;
    text-shadow: 1px 1px 1px black;
    font-size: 0.75rem;
}

.legende{
    float: right;
    vertical-align: middle;
    position: absolute;
    bottom: 5px;
    right: 10px;
    width: 40%;
    height: 95%;
    border-radius: 15px;
    font-family: var(--roboto);
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border: solid 3px var(--primary-color);
}

footer {
    height: 5vh;
    width: 100%;
    float: right;
}

/* Tablets */
@media (min-width: 769px) {
    .c1 {
        width: 50%;
    }
    .c2{
        width: 49%; /* The width is 100%, when the viewport is 1000px or smaller */
    }
    .c3{
        width: 100%;
    }
    .test{
        display: flex;
    }
    .c2 >h1{
        text-align: center;
        font-size: 4vw;
    }
    .c2 > h4, .c3 > h4{
        color:var(--primary-color);
        font-size: 2vw;
    }

    .c2 > h5{
        color:var(--primary-color);
        font-size: 1.5vw;
    }
    .c2 > p{
        font-size: 1.5vw;
    }
    .c2 > ul{
        font-size: 1.5vw;
        margin: 0.5rem;
    }
    .segment1{
        top: 75px;
        left: 35px;
    }
    .segment2{
        top: 75px;
        left: 100px;
    }
    .segment3{
        top: 100px;
        left: 35px;
    }
    .segment4{
        top: 100px;
        left: 100px;
    }

}
@media (min-width: 992px) {
    .outer-border{
        width: 70%;
        margin: auto;
        padding: 10px;
    }
    .test {
        display: flex;
    }
    .c2 >h1{
        text-align: center;
        font-size: 4vw;
    }
    .c2 > h4, .c3 > h4{
        color:var(--primary-color);
        font-size: 2vw;
    }

    .c2 > h5{
        color:var(--primary-color);
        font-size: 1.5vw;
    }
    .c2 > p{
        font-size: 1.5vw;
    }
    .c2 > ul{
        font-size: 1.5vw;
        margin: 0.5rem;
    }
    .links{
        width: 5%;
    }
    .piechart{
        width: 200px;
        height: 200px;
    }
    .legende{
        width: 30%;
    }
    .segment1{
        top: 100px;
        left: 35px;
        font-size: 1rem;
    }
    .segment2{
        top: 100px;
        left: 125px;
        font-size: 1rem;
    }
    .segment3{
        top: 125px;
        left: 35px;
        font-size: 1rem;
    }
    .segment4{
        top: 125px;
        left: 125px;
        font-size: 1rem;
    }
}